---
layout: default
title: Jeff Hilnbrand
---

<section class="intro">
	<h2>
		 Product Designer at <a class="intro-link intro-link-facebook" href="https://facebook.design" target="_blank">Facebook</a>. Previously at <a class="intro-link intro-link-minimill" href="http://minimill.co" target="_blank">Minimill</a>, <a class="intro-link intro-link-autodesk" href="https://creativemarket.com" target="_blank">Autodesk</a>, <a class="intro-link intro-link-venmo" href="https://venmo.com" target="_blank">Venmo</a>, <a class="intro-link intro-link-startupshell" href="http://startupshell.org" target="_blank">Startup Shell</a>. I like making cool things with cool people.
	</h2>
</section>

<section>
	<div class="category-header">
		<h2 class="category-title">Projects</h2>
		<a class="category-link" href="/projects">More ⟿</a>
	</div>
	<ul class="post-index">
		{% for post in site.categories.project limit:6 %}
    		{% include post-index-grid.html %}
    	{% endfor %}
	</ul>
</section>

<section>
	<div class="category-header">
		<h2 class="category-title">Posts</h2>
		<a class="category-link" href="/posts">More ⟿</a>
	</div>
	<ul class="post-index">
		{% for post in site.categories.post limit:6 %}
    		{% include post-index-grid.html %}
    	{% endfor %}
	</ul>
</section>

<section>
	<div class="category-header">
		<h2 class="category-title">Teams</h2>
		<a class="category-link" href="/teams">More ⟿</a>
	</div>
	<ul class="post-index">
		{% for post in site.categories.team %}
    		{% include post-index-grid.html %}
    	{% endfor %}
	</ul>
</section>

<section>
	<div class="category-header">
		<h2 class="category-title">Talks</h2>
		<a class="category-link" href="/talks">More ⟿</a>
	</div>
	<ul class="post-index">
		{% for post in site.categories.talk limit:3 %}
    		{% include post-index-grid.html %}
    	{% endfor %}
	</ul>
</section>
