html, body {
  background-color: $white;
  color: $dark-gray;
  font-family: $sans;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 2;
  position: relative;
  padding: 0 1rem;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
}

$content-width: 69rem;

$t: color .3s ease, background .3s ease, transform .15s ease;

.content {
  @include clearfix;
  margin: 0 auto 6rem;
  max-width: $content-width;
}

section {
  margin-top: 4rem;
  padding: 0 6rem;
  @media screen and (max-width: $tablet-portrait-max) {
    padding: 0rem;
  }
}

.full-width {
  padding: 0;
}

.rich-before {
  &:before {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-right: 3rem;
  }
}

.rich-after {
  &:after {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-left: 3rem;
  }
}

.image-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    flex-shrink: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
  }
}

.ratio {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.ratio > * {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ratio-2_1:before {
  padding-top: 50%;
}

.ratio-16_9:before {
  padding-top: 56.25%;
}

.ratio-3_2:before {
  padding-top: 66.67%;
}

.ratio-4_3:before {
  padding-top: 75%;
}

.shadow {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.075);
}

::selection {
  // background: $lighter-gray;
  // color: $dark-gray;
}
