$black: #222222;

$dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #CCCCCC;
$lighter-gray: #EEEEEE;
$lightest-gray: #F6F6F6;

$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #73E673;
