$content-width: 69rem;

$t: color .3s ease, background .3s ease, transform .15s ease;

.content {
  @include clearfix;
  margin: 0 auto 6rem;
  max-width: $content-width;
  padding: 0 9rem;
}

section {
  margin-top: 3rem;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.rich-before {
  &:before {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-right: 3rem;
  }
}

.rich-after {
  &:after {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-left: 3rem;
  }
}

.image-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
}
