.posts-list {
  margin-left: 6rem;
}

.list {
  margin-left: -6rem;
}

.list-numbered {
  .list-row {
    &:before {
      content: counter(li);
    }
  }
}

.list-photo-circle {
  .list-image {
    border-radius: 50%;
  }
}

.list-shadow {
  .list-image {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
}

ul li.list-item {
  list-style-type: none;
  counter-increment: li;
  width: 100%;
  margin-bottom: 3rem;
  p {
    margin-left: 12rem;
  }
}

.list-row {
  @extend .rich-before;
  &:before {
    content: "∙";
    @extend .h4;
  }
  h2 {
    margin: 0;
  }
  h4 {
    flex-grow: 1;
    text-align: right;
  }
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.list-title {
  margin-bottom: 0;
}

.list-image {
  width: 3rem;
  height: 3rem;
  border: 0;
  margin-right: 3rem;
  transition: $t;
}

.list-detail {
  em {
    color: $medium-gray;
  }
}

.list-item {
  background: attr(data-color);
  &:hover {
    .list-image {
      transform: scale(1.5);
    }
  }
}
