// home

.intro {
  h2 {
    font-weight: $regular;
    font-size: 1.625rem;
    line-height: 2;
  }
  a {
    font-weight: $regular;
    &:hover {
      text-decoration: underline;
    }
  }
}

.intro-link-facebook {
  color: #3b5998;
  &:hover {
    color: #3b5998;
  }

}

.intro-link-minimill {
  color: #3399FF;
  &:hover {
    color: #3399FF;
  }

}

.intro-link-autodesk {
  color: #87BC40;
  &:hover {
    color: #87BC40;
  }

}

.intro-link-venmo {
  color: #3D95CE;
  &:hover {
    color: #3D95CE;
  }

}

.intro-link-startupshell {
  color: #D74034;
  &:hover {
    color: #D74034;
  }

}

.intro-link-bitcamp {
  color: #FF7040;
  &:hover {
    color: #FF7040;
  }

}

sub > a.intro-link {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}


// filter

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  border: $lighter-gray 1px solid;
  border-radius: 2px;
  padding: 1rem 1rem 1rem 1.5rem;
  span {
    @extend .mono;
    color: $light-gray;
  }
  @extend .hide-mobile;
  @extend .hide-tablet;
}

.filter-list {
  display: flex;
}

.filter-item {
  color: $light-gray;
  margin-left: 1rem;
  list-style: none;
  padding: 0 .5rem;
  @extend .mono;
  &:hover {
    text-decoration: underline;
    color: $medium-gray;
    cursor: pointer;
  }
}

.post-filter-hidden {
  display: none;
}

// features

.post-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post-item-wrapper {
  &:hover {
    h3 {
      text-decoration: underline;
    }
    .post-metadata {
      color: $medium-gray;
    }
  }
  width: calc(50% - 2rem);
  margin-bottom: $space;
  text-align: center;

  @media screen and (max-width: $tablet-portrait-max) {
    width: 100%;
  }

}

.post-item-small {
  display: flex;
  &:hover {
    .post-image {
      transform: scale(1.05);
    }
  }
}

.post-item-feature {
}

.post-image {
  @extend .ratio;
  @extend .image-fill;
}

.post-image-feature {
  width: 100%;
  margin-bottom: 2rem;
  @extend .ratio-16_9;
}

.post-image-small {
  @extend .ratio-3_2;
  min-width: 10rem;
  width: 10rem;
  margin-right: 2rem;
}

.post-info-feature {
  text-align: center;
}

.post-info-small {
  text-align: left;
}

.post-info-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-title-small {
  padding-right: 1rem;
}

.post-metadata {
  margin-top: .5rem;
}
