.intro {
  margin: 6rem 0;
  a {
    font-weight: $regular;
  }
  li {
    &:before {
      @extend .rich-before;
      content: "∙";
    }
  }
}

.nav {
  margin-bottom: 6rem;
  a {
    font-weight: $regular;
  }
  @extend .rich-before;
  &:before {
    content: " ";
    background-image: url(/img/jhilnbrand.jpg);
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}


// features

.feature-posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.feature-post {
  display: inline-block;
  width: calc(50% - 1.5rem);
  margin-bottom: 3rem;
}

.feature-post-image {
  width: 100%;
  display: flex;
  align-items: center;
  height: 16.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.feature-post-title {
  @extend .rich-before;
  @extend .before-icon;
}

.before-icon:before {
  content: " ";
  height: 1rem;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $light-gray;
  mask-size: 1rem;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(/img/icon-article.svg);
}

h1.before-icon:before {
  height: 2rem;
}

*[data-type="article"] {
  &:before {
    mask-image: url(/img/icon-article.svg);
  }
}

*[data-type="list"] {
  &:before {
    mask-image: url(/img/icon-list.svg);
  }
}

*[data-type="project"] {
  &:before {
    mask-image: url(/img/icon-project.svg);
  }
}

*[data-type="talk"] {
  &:before {
    mask-image: url(/img/icon-talk.svg);
  }
}

*[data-type="travel"] {
  &:before {
    mask-image: url(/img/icon-travel.svg);
  }
}
*[data-type="work"] {
  &:before {
    mask-image: url(/img/icon-work.svg);
  }
}
