// home

.intro {
  margin: 6rem 0;
  h2 {
    font-weight: $regular;
    font-size: 1.625rem;
    line-height: 2;
  }
  a {
    font-weight: $regular;
    &:hover {
      text-decoration: underline;
    }
  }
}


// features

.post-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post-item-wrapper {
  &:hover {
    h3 {
      text-decoration: underline;
    }
    .post-metadata {
      color: $medium-gray;
    }
  }
  width: calc(50% - 1.5rem);
  margin-bottom: 4rem;
  text-align: center;

  @media screen and (max-width: $tablet-portrait-max) {
    width: 100%;
  }

}

.post-item-small {
  display: flex;
  padding-bottom: 2rem;
  &:hover {
    // .post-image {
    //   transform: scale(1.05);
    // }
  }
}

.post-image {
  @extend .ratio;
  @extend .image-fill;
  // background: $lightest-gray;
  background-size: cover;
  background-position: center;
}

.post-image-feature {
  width: 100%;
  margin-bottom: 2rem;
  @extend .ratio-16_9;
}

.post-image-small {
  @extend .ratio-3_2;
  min-width: 9rem;
  width: 9rem;
  margin-right: 2rem;
}

.post-info-feature {
  text-align: center;
}

.post-info-small {
  text-align: left;
}

.post-info-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-title-small {
  padding-right: 1rem;
}

.post-metadata {
  margin-top: .5rem;
}
