// nav

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: $space;
	border-bottom: 1px $light-gray solid;
	a {
		font-weight: $regular;
	}
	& > * {
		display: flex;
	}
}

.nav-left {
	display: flex;
	align-items: center;
	&:hover {
		.nav-avatar {
			transform: scale(1.1);
		}
		text-decoration: underline;
	}
}

.nav-avatar {
	height: 2rem;
	width: 2rem;
	display: block;
	background-size: cover;
	margin-right: 1rem;
	transition: $t;
	img {
		border-radius: 50%;
	}
}

.nav-title h1 {
	@extend h4;
	margin-bottom: 0;
	font-weight: $medium;
	letter-spacing: 0;
}

.nav-left {
}

.nav-right {
}

.nav-social {
	display: flex;
}

.nav-social-item {
	width: 1rem;
	height: 1rem;
	padding: .5rem;
	margin-left: 1rem;
	svg {
		display: block;
		path {
			fill: $light-gray;
		}
	}
	&:hover {
		svg path {
			fill: $medium-gray;
		}
	}
}
