.article-header {
  width: 57rem;
}

.article-header-tight {
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.article-title {
  font-weight: $medium;
}

.article-metadata {
  margin: 2rem 0 4rem;
  color: $medium-gray;
  a:hover {
    color: $dark-gray;
    text-decoration: underline;
  }
}

.article-image-hero {
  width: 100%;
  margin-bottom: 6rem;
  @extend .image-fill;
}

.article-body {
  width: 57rem;
  padding: 0 6rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  p a {
    text-decoration: underline;
  }
  h1 {
    margin: 4rem 0;
    line-height: 2;
  }
  h2 {
    margin: 4rem 0 2rem;
  }
  h3 {
    margin: 3rem 0 2rem 0;
    line-height: 2;
  }
  img {
    display: block;
  }
  blockquote p {
    padding: .5rem 0 .5rem 3rem;
    border-left: 2px $lighter-gray solid;
    margin: 3rem 0;
    color: $medium-gray;
  }
  p em {
    font-style: italic;
  }
  ul {
    margin-bottom: 2rem;
    li {
      display: list-item;
      list-style-type: disc;
      margin-bottom: 1rem;
      margin-left: 1.5rem;
      padding-left: .5rem;
    }
  }
}

.post-talk .article-body {
  padding: 0 0;

}

ul.article-list {
  margin-top: 4rem;
  margin-bottom: 4rem;
  h3 {
    margin: 0;
  }
}

p img {
  margin: 4rem 0;
  width: 100%;
}

.embed {
  max-width: 100%;
  vertical-align: middle;
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 6rem 0;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

hr {
  margin: 4rem 0;
  border: 0;
  border-bottom: 1px $lighter-gray solid;
}

.button-link {
  color: $white;
  border-radius: 3px;
  width: 100%;
  display: block;
  padding: 1rem 0;
  transition: $t;
  text-align: center;
  text-decoration: none !important;
  font-family: $mono;
  margin: 6rem 0;
  font-size: 1rem;
  &:after {
    content: "→";
    margin-left: 1rem;
  }
  &:hover {
    background: $dark-gray !important;
    color: white;
  }
}

.button-link-dark {
  color: $dark-gray;
  &:hover {
    background: $lighter-gray !important;
    color: $dark-gray;
  }
}
