// Font weights
$extra-bold: 800;
$bold: 700;
$demi: 600;
$medium: 500;
$regular: 400;
$light: 300;

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/MaisonNeueWEB-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/MaisonNeueWEB-Medium.woff') format('woff');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/MaisonNeueWEB-Demi.woff') format('woff');
  font-weight: $demi;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('/fonts/MaisonNeueWEB-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$sans: 'Maison Neue', 'Maison', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Maison Neue Mono', 'Inconsolata', 'Source Code Pro', monospace;
$serif: 'Merriweather', Georgia, serif;

h1, %h1, .h1 {
  font-size: 2.75rem;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
  font-family: $sans;
  font-weight: $medium;
}

h2, %h2, .h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-family: $sans;
  font-weight: $medium;
}

h3, %h3, .h3 {
  font-size: 1.25rem;
  font-family: $sans;
  font-weight: $medium;
}

h4, %h4, .h4 {
  font-size: .75rem;
  font-family: $mono;
  font-weight: $regular;
  color: $light-gray;
  line-height: 1;
  letter-spacing: -.5px;
}

p, .p {
  font-size: 1rem;
  font-family: $serif;
  line-height: 2;
  margin-bottom: 2rem;
}

strong {
  font-weight: $bold;
}

a {
  font-weight: $medium;
  &:hover {
    color: attr(data-color);
  }
}

p code {
  font-family: $mono;
  padding: .5rem .5rem;
  background: $lightest-gray;
  margin: 0 .125rem;
}

.sub {
  color: $medium-gray;
}

.subsub {
  color: $light-gray;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 1.75rem;
  }
}
