// Font weights
$extra-bold: 800;
$bold: 700;
$demi: 600;
$medium: 500;
$regular: 400;
$light: 300;

$sans: 'Maison Neue', 'Maison', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Inconsolata', 'Source Code Pro', monospace;
$serif: 'Merriweather', Georgia, serif;

h1, %h1, .h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}

h2, %h2, .h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h3, %h3, .h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

h4, %h4, .h4 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: $mono;
  color: $light-gray;
  line-height: 1;
  // font-weight: $light;
}

h5, %h5, .h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p, .p {
  font-size: 1rem;
  font-family: $serif;
  line-height: 2;
  margin-bottom: 2rem;
}

strong {
  font-weight: $medium;
}

a {
  font-weight: $medium;
}

.sub {
  color: $medium-gray;
}

.subsub {
  color: $light-gray;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 1.75rem;
  }
}
