---
layout: default
---

<section>
  <h1>{{ page.url | slugify | capitalize }}</h1>
</section>

<section>
  <ul class="post-list-feature">
  {% for post in site.posts %}
  {% if post.type == page.type %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-item-wrapper">
      <li class="post-item-feature">
        <div class="post-image post-image-feature">
          <img src="/img/{{ post.url | slugify }}/{{ post.title | slugify }}_thumbnail.jpg">
        </div>
        <h3 class="post-title-feature">{{ post.title }}</h3>
      </li>
    </a>
    {% endif %}
    {% endfor %}
  </ul>
</section>
