---
layout: default
---

<article class="post post-article post-{{ page.category }}">

  <section class="article-header{% if page.hero == false and page.full != true %} article-header-tight{% endif %}">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="article-metadata">{{ page.date | date: "%b %d, %Y" }}&ensp;·&ensp;{% if page.category == "work" %}<a href= "/work">{% else %}<a href="/{{ page.category }}s">{% endif %}#{{ page.category }}</a></h5>
  </section>

  {% unless page.hero == false %}
  <section class="full-width article-image-hero">
    <img src="/img/{{ page.url | slugify }}/{% if page.hero %}{{ page.hero }}{% else %}{{ page.thumb }}{% endif %}"">
  </section>
  {% endunless %}

  <section class="article-body{% if page.full == true %} article-body-full{% endif %}">
    {{ content }}
  </section>

</article>

<section>
  <hr class="section-divider">
</section>

<section class="related-posts">
  {% include post-index.html style="small" filter=true category=page.category %}
</section>
